{
    "root": true,
    "extends": "./node_modules/@globality/gi-eslint-config/src/configs/eslint/.typescript.eslintrc",
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
